:root,
html.dark {
  --c-brand: #76e5ac;
  --c-brand-light: #50c98b;

  .home .feature img {
    max-width: 100%;
    padding: 10% 30%;
    box-sizing: border-box;
  }

  .home .hero h1 {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--c-text-lightest);
  }

  .home div[class*='language-'] {
    margin: 5% 10%;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px 0px;
  }

  @media (max-width: 719px) {
    .home div[class*='language-'] {
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px 0px;
    }
  }
}
