name: Publish scrt

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v0.2
        with:
          ref: main
          running-workflow-name: "Build scrt"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 60 # seconds
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Create key file
        run: 'echo "${{ secrets.GPG_KEY }}" > key.gpg'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --release-notes=CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
          NFPM_LINUX_PACKAGES_PASSPHRASE: ${{ secrets.NFPM_LINUX_PACKAGES_PASSPHRASE }}
      - name: Upload release artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  publish-apt:
    runs-on: ubuntu-latest
    needs:
      - release
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install tools
        run: sudo apt update && sudo apt install -y git gnupg apt-utils dpkg-dev
      - name: Download release artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: Create key file
        run: 'echo "${{ secrets.GPG_KEY }}" > key.gpg'
      - name: Publish to apt repository
        run: .scripts/publish_apt
        env:
          KEY_FILE: key.gpg
          PASSPHRASE: ${{ secrets.NFPM_LINUX_PACKAGES_PASSPHRASE }}
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
          APT_REPOSITORY: loderunner/scrt-apt
          DEST_DIR: ${{ runner.temp }}/scrt-apt
          SIG_EMAIL: scrt@scrt.run
          GIT_AUTHOR_NAME: "Charles Francoise"
          GIT_AUTHOR_EMAIL: scrt@scrt.run
          GIT_COMMITTER_NAME: "Charles Francoise"
          GIT_COMMITTER_EMAIL: scrt@scrt.run

  publish-yum:
    runs-on: ubuntu-18.04 # createrepo is missing in Ubuntu 20.04 / restored in 22
    needs:
      - release
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install tools
        run: sudo apt update && sudo apt install -y git gnupg createrepo
      - name: Download release artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: Create key file
        run: 'echo "${{ secrets.GPG_KEY }}" > key.gpg'
      - name: Publish to yum repository
        run: .scripts/publish_yum
        env:
          KEY_FILE: key.gpg
          PASSPHRASE: ${{ secrets.NFPM_LINUX_PACKAGES_PASSPHRASE }}
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
          YUM_REPOSITORY: loderunner/scrt-yum
          DEST_DIR: ${{ runner.temp }}/scrt-yum
          SIG_EMAIL: scrt@scrt.run
          GIT_AUTHOR_NAME: "Charles Francoise"
          GIT_AUTHOR_EMAIL: scrt@scrt.run
          GIT_COMMITTER_NAME: "Charles Francoise"
          GIT_COMMITTER_EMAIL: scrt@scrt.run

  dockerhub-description:
    runs-on: ubuntu-latest
    needs:
      - release
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Push description to Ducker Hub
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: loderunner/scrt
          readme-filepath: ./DOCKER.md
